In [217]:
import pandas as pd

In [218]:
df = pd.read_csv('data/alt_clean.csv')

In [219]:
df.head()

,Unnamed: 0,Owner,Country of Origin,Altitude,Region,In-Country Partner,Variety,Processing Method,Aroma,Flavor,...,Moisture,Category One Defects,Quakers,Color,Category Two Defects,year,Price,target,Altitude2,alt
0,0,metad plc,ethiopia,1950-2200,guji-hambela/goyo,metad agricultural development plc,NaN,washed / wet,8.67,8.83,...,12 %,0 full defects,0.0,green,0 full defects,2015,76.03,1.0,NaN,2075.0
1,1,metad plc,ethiopia,1950-2200,guji-hambela/alaka,metad agricultural development plc,other,washed / wet,8.75,8.67,...,12 %,0 full defects,0.0,green,1 full defects,2015,76.03,1.0,NaN,2075.0
2,2,grounds for health admin,guatemala,1600 - 1800 m,NaN,specialty coffee association,bourbon,NaN,8.42,8.50,...,0 %,0 full defects,0.0,NaN,0 full defects,2010,144.77,1.0,NaN,1700.0
3,3,yidnekachew dabessa,ethiopia,1800-2200,oromia,metad agricultural development plc,NaN,natural / dry,8.17,8.58,...,11 %,0 full defects,0.0,green,2 full defects,2015,76.03,1.0,NaN,2000.0
4,4,metad plc,ethiopia,1950-2200,guji-hambela/bishan fugu,metad agricultural development plc,other,washed / wet,8.25,8.50,...,12 %,0 full defects,0.0,green,2 full defects,2015,76.03,1.0,NaN,2075.0

In [220]:
df.index = df.index.map(str)

In [221]:
df = df.drop(['Unnamed: 0', 'Altitude2'], axis=1)

In [222]:
df.describe()

,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,Quakers,year,Price,target,alt
count,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1259.000000,1260.000000,689.000000,1260.000000,1069.000000
mean,7.562143,7.514905,7.394929,7.532722,7.513151,7.513857,9.826651,9.824778,9.898310,7.488468,0.181890,2010.613492,134.007257,0.511111,1611.146866
std,0.381595,0.403727,0.407221,0.380542,0.362258,0.410566,0.623977,0.827100,0.599722,0.464222,0.854869,79.624919,37.361261,0.500075,1008.184849
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,71.090000,0.000000,50.000000
25%,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,0.000000,2012.000000,110.470000,0.000000,1183.000000
50%,7.580000,7.500000,7.420000,7.500000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,0.000000,2014.000000,127.060000,1.000000,1400.000000
75%,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,0.000000,2015.000000,152.830000,1.000000,1700.000000
max,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,11.000000,2018.000000,239.680000,1.000000,9607.000000

In [223]:
alt_list = []
i = 0 
while i < 1260:
    for row in df['alt']:
        alt_list.append(row)
        i+=1

In [231]:
# convert values above 2000 to feet based on coffee research 
for i in range(len(alt_list)):
    if float(alt_list[i]) >= 2000.0:
        alt_list[i] = float(alt_list[i]) * .3048

In [232]:
#test to ensure we converted values above 2000
high_el = []
for i in range(len(alt_list)):
    if alt_list[i] != 'nan':
        if float(alt_list[i]) >= 2000.0:
            high_el.append(alt_list[i])

In [233]:
high_el

[]

In [234]:
df['final_alt'] = alt_list

In [235]:
df.describe()

,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,Quakers,year,Price,target,alt,final_alt
count,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1259.000000,1260.000000,689.000000,1260.000000,1069.000000,1069.000000
mean,7.562143,7.514905,7.394929,7.532722,7.513151,7.513857,9.826651,9.824778,9.898310,7.488468,0.181890,2010.613492,134.007257,0.511111,1611.146866,1311.004660
std,0.381595,0.403727,0.407221,0.380542,0.362258,0.410566,0.623977,0.827100,0.599722,0.464222,0.854869,79.624919,37.361261,0.500075,1008.184849,374.673663
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,71.090000,0.000000,50.000000,50.000000
25%,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,0.000000,2012.000000,110.470000,0.000000,1183.000000,1100.000000
50%,7.580000,7.500000,7.420000,7.500000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,0.000000,2014.000000,127.060000,1.000000,1400.000000,1310.640000
75%,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,0.000000,2015.000000,152.830000,1.000000,1700.000000,1600.000000
max,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,11.000000,2018.000000,239.680000,1.000000,9607.000000,1950.000000

In [236]:
df['final_alt'].fillna('nan', inplace=True)

In [237]:
#loop through to find the unique region names associated with missing altitude values
i = 0 
missing_alt = []
while i < 1260:
    for row in df['final_alt']:
        if row == 'nan':
            missing_alt.append(df.at[str(i), 'Region'])
        i+=1

In [238]:
region_missing = list(set(missing_alt))

In [239]:
region_missing

[nan,
 'chapadão de ferro (cerrado mineiro)',
 'test',
 'bener meriah',
 'taiwan',
 'el tumbador, san marcos',
 'pitalito-huila',
 'veracruz',
 'thailand',
 'san marcos, ocotepeque',
 'kelem welega',
 'huanuco',
 'cerrado - campos altos',
 'guayatá',
 'kefa zone, gimbo distict, at a place called woka araba, south west ethiopia.',
 'matagalpa',
 '台灣',
 'monte carmelo - cerrado',
 'nueva segovia',
 'san rafael',
 'sipi, mt. elgon',
 'south of minas gerais',
 'chickmangalore',
 'oriente',
 'cajamarca',
 'moshi rural',
 'unkown',
 'kona',
 'nuevo oriente',
 'monte carmelo',
 'grama valley',
 'jinotega',
 'benguet, mountain province',
 'cauca',
 'antigua',
 'san marcos',
 'la plata',
 'arusha',
 'central valley',
 'eastern uganda',
 'yirgacheffe',
 'tarrazu',
 'teocelo',
 'vale da grama',
 'huila',
 'peru',
 'sidamo',
 'limu',
 'jinotega, nicaragua',
 'huehuetenango',
 'mmm',
 'addis ababa',
 'cerrado - monte carmelo',
 'puno',
 'santa rosa',
 'campos altos - cerrado',
 'south of minas',
 'guatemala',
 'cerrado',
 'aceh tengah']

In [240]:
#loop through to find the unique country names associated with missing altitude values in case there are no region matches
i = 0 
missing_alt2 = []
while i < 1260:
    for row in df['final_alt']:
        if row == 'nan':
            missing_alt2.append(df.at[str(i), 'Country of Origin'])
        i+=1

In [241]:
country_missing = list(set(missing_alt2))

In [242]:
country_missing

['philippines',
 'united states (hawaii)',
 'brazil',
 'tanzania, united republic of',
 'kenya',
 'taiwan',
 'honduras',
 'ethiopia',
 'mexico',
 'nicaragua',
 'indonesia',
 'india',
 'thailand',
 'colombia',
 'uganda',
 'costa rica',
 'guatemala',
 'peru']

In [243]:
#finds average for missing regions 
def region_alt(region):
    j = 0
    list_2=[]
    while j < 1260:
        if df.at[str(j), "Region"] == region:
            if (df.at[str(j),'final_alt']) != "nan":
                list_2.append(df.at[str(j),'final_alt'])
        j += 1
    if len(list_2) > 0:    
        return sum(list_2)/len(list_2)

In [244]:
region_alt('kona')

659.75975264

In [245]:
region_dict = {}
for i in region_missing:
    region_dict[i] = region_alt(i)

In [247]:
region_dict

{nan: None,
 'chapadão de ferro (cerrado mineiro)': None,
 'test': None,
 'bener meriah': 1500.0,
 'taiwan': 125.0,
 'el tumbador, san marcos': 1371.0,
 'pitalito-huila': None,
 'veracruz': 1113.6363636363637,
 'thailand': 836.3636363636364,
 'san marcos, ocotepeque': None,
 'kelem welega': None,
 'huanuco': None,
 'cerrado - campos altos': None,
 'guayatá': 1600.0,
 'kefa zone, gimbo distict, at a place called woka araba, south west ethiopia.': None,
 'matagalpa': None,
 '台灣': 1200.0,
 'monte carmelo - cerrado': 973.0,
 'nueva segovia': None,
 'san rafael': None,
 'sipi, mt. elgon': None,
 'south of minas gerais': 954.9722222222222,
 'chickmangalore': None,
 'oriente': 1319.364242424242,
 'cajamarca': None,
 'moshi rural': None,
 'unkown': None,
 'kona': 659.75975264,
 'nuevo oriente': 1354.5038737066668,
 'monte carmelo': None,
 'grama valley': 1133.3333333333333,
 'jinotega': 1122.8333333333333,
 'benguet, mountain province': None,
 'cauca': 1682.5,
 'antigua': 1492.2001714285714,
 'san marcos': 1657.9666666666665,
 'la plata': 1862.5,
 'arusha': 1485.0,
 'central valley': None,
 'eastern uganda': 1775.0,
 'yirgacheffe': 1875.0,
 'tarrazu': 1746.6666666666667,
 'teocelo': 1190.0,
 'vale da grama': 1281.25,
 'huila': 1595.6489361702127,
 'peru': None,
 'sidamo': 1725.0,
 'limu': None,
 'jinotega, nicaragua': 1200.0,
 'huehuetenango': 1529.5074133333335,
 'mmm': None,
 'addis ababa': None,
 'cerrado - monte carmelo': None,
 'puno': None,
 'santa rosa': 1312.0,
 'campos altos - cerrado': None,
 'south of minas': 1250.0,
 'guatemala': None,
 'cerrado': 1008.0,
 'aceh tengah': None}

In [249]:
#set missing df['alt'] values equal to region average when possible 
def set_region_alt(key, value):
    j = 0
    while j < 1260:
        if value != None:
            if df.at[str(j), "Region"] == key:
                if df.at[str(j), 'final_alt'] == 'nan':
                    df.at[str(j), 'final_alt'] = value        
        j += 1

In [250]:
for i in region_dict:
    set_region_alt(i, region_dict[i])

In [255]:
sum(df['final_alt'] == 'nan')

41

In [256]:
#finds average for missing countries in cases where there were no matching regions
def country_alt(country):
    j = 0
    list_2=[]
    while j < 1260:
        if df.at[str(j), "Country of Origin"] == country:
            if (df.at[str(j),'final_alt']) != "nan":
                list_2.append(df.at[str(j),'final_alt'])
        j += 1
    if len(list_2) > 0:    
        return sum(list_2)/len(list_2)

In [257]:
country_dict = {}
for i in country_missing:
    country_dict[i] = country_alt(i)

In [258]:
country_dict

{'philippines': 1350.0,
 'united states (hawaii)': 659.7597526399993,
 'brazil': 1062.5319940476186,
 'tanzania, united republic of': 1570.5123157894736,
 'kenya': 1557.7818181818182,
 'taiwan': 727.1388888888889,
 'honduras': 1426.92,
 'ethiopia': 1605.3580102564101,
 'mexico': 1239.7157164869027,
 'nicaragua': 1129.4649122807018,
 'indonesia': 1354.8315789473684,
 'india': None,
 'thailand': 1061.2648221343873,
 'colombia': 1565.8184511622187,
 'uganda': 1692.72,
 'costa rica': 1451.3971631205673,
 'guatemala': 1388.2088225074704,
 'peru': 1374.8954666666668}

In [259]:
#set missing df['alt'] values equal to country average when possible 
def set_country_alt(key, value):
    j = 0
    while j < 1260:
        if value != None:
            if df.at[str(j), "Country of Origin"] == key:
                if df.at[str(j), 'final_alt'] == 'nan':
                    df.at[str(j), 'final_alt'] = value        
        j += 1

In [260]:
for i in country_dict:
    set_country_alt(i, country_dict[i])

In [261]:
sum(df['final_alt'] == 'nan')

1

In [287]:
j = 0
while j < 1260:
    if df.at[str(j), 'final_alt'] == 'nan':
        df = df.drop([str(j)])
    j+=1

In [288]:
sum(df['final_alt'] == 'nan')

0

In [296]:
df['final_final_alt'] = df['final_alt'].apply(lambda x: float(x))

In [297]:
df.describe()

,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,Quakers,year,Price,target,alt,final_final_alt
count,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1258.000000,1259.000000,688.000000,1259.000000,1069.000000,1259.000000
mean,7.562057,7.515052,7.395107,7.533407,7.513423,7.513932,9.827045,9.824639,9.900874,7.488523,0.176471,2010.608419,134.004724,0.511517,1611.146866,1281.361946
std,0.381734,0.403854,0.407334,0.379915,0.362273,0.410721,0.624068,0.827414,0.593010,0.464403,0.833289,79.656356,37.388383,0.500066,1008.184849,386.087245
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,71.090000,0.000000,50.000000,50.000000
25%,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,0.000000,2012.000000,110.470000,0.000000,1183.000000,1062.531994
50%,7.580000,7.500000,7.420000,7.500000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,0.000000,2014.000000,127.060000,1.000000,1400.000000,1300.000000
75%,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,0.000000,2015.000000,152.830000,1.000000,1700.000000,1595.648936
max,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,11.000000,2018.000000,239.680000,1.000000,9607.000000,1950.000000

In [300]:
df['Processing Method'].value_counts()

washed / wet                 796
natural / dry                241
semi-washed / semi-pulped     56
other                         26
pulped natural / honey        14
Name: Processing Method, dtype: int64

In [305]:
sum(df.isnull()['Processing Method'])

126

In [353]:
test = df

In [354]:
test = test.dropna(subset=['Processing Method'], how='all')

In [355]:
test.shape

(1133, 28)

In [356]:
test['Processing Method'].value_counts()

washed / wet                 796
natural / dry                241
semi-washed / semi-pulped     56
other                         26
pulped natural / honey        14
Name: Processing Method, dtype: int64

In [357]:
sum(test.isnull()['Processing Method'])

0

In [358]:
test['Color'].value_counts()

green           811
bluish-green    105
blue-green       75
none             48
Name: Color, dtype: int64

In [359]:
sum(test.isnull()['Color'])

94

In [360]:
test['Owner'].value_counts()

juan luis alvarado romero                             153
ipanema coffees                                        50
racafe & cia s.c.a                                     46
cqi taiwan icp cqi台灣合作夥伴                               42
exportadora de cafe condor s.a                         39
lin, che-hao krude 林哲豪                                 30
kona pacific farmers cooperative                       29
carcafe ltda ci                                        23
nucoffee                                               23
alfredo bojalil                                        19
eileen koyanagi                                        19
the coffee source inc.                                 19
afca                                                   17
cadexsa                                                14
saul m. hernandez ramirez                              13
essencecoffee                                          12
bismarck castro                                        12
yunnan coffee exchange                                 12
bourbon specialty coffees                              12
doi tung development project                           12
compañia colombiana agroindustrial s.a                 12
israel eduardo paz garcia                              12
lusso lab                                              11
consejo salvadoreño del café                           11
ceca, s.a.                                             10
jacques pereira carneiro                                9
eric thormaehlen                                        8
松澤宏樹 koju matsuzawa                                     8
dane loraas                                             7
federacion nacional de cafeteros                        7
                                                     ...
grupo santab s.a de c.v.                                1
brent hall                                              1
asefa dukamo keroma                                     1
u soe                                                   1
simon mahinda                                           1
wali ali                                                1
didas                                                   1
itiah coffee llc                                        1
jose daniel cobilt castro                               1
luis roberto fermoso beltran                            1
joshua marsceau                                         1
kao ming lee                                            1
guillermo eduardo bobadilla muguira                     1
gabriel bernardo rivas ross                             1
debesa agro industry plc                                1
acacia hills ltd                                        1
octavio augusto diaz trejo                              1
damaso martinez perez                                   1
cafe politico                                           1
rre kunene                                              1
salvador caro carrion                                   1
zarah zamora perez                                      1
shah plantations                                        1
productores de especialidad emiliano zapeata, spr.      1
olivia hernandez virves                                 1
artemio zapata tejeda                                   1
jose manuel vergara cortes                              1
mcomafa co ltd                                          1
rob stephen                                             1
gonzalo de aquino flores                                1
Name: Owner, Length: 280, dtype: int64

In [361]:
sum(test.isnull()['Country of Origin'])

0

In [362]:
test = test.drop(['Variety', 'Owner', 'Region', 'Color', 'alt', 'final_alt', 'Altitude', 'Price'], axis=1)

In [363]:
test.tail()

,Country of Origin,In-Country Partner,Processing Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,Moisture,Category One Defects,Quakers,Category Two Defects,year,target,final_final_alt
1253,honduras,instituto hondureño del café,washed / wet,7.00,6.33,6.17,6.50,6.67,6.17,8.00,8.00,8.00,6.33,10 %,0 full defects,0.0,4 full defects,2014,0.0,1450.00
1254,mexico,amecafe,washed / wet,7.08,6.83,6.25,7.42,7.25,6.75,10.00,0.00,10.00,6.75,11 %,0 full defects,0.0,20 full defects,2012,0.0,900.00
1255,haiti,specialty coffee association,natural / dry,6.75,6.58,6.42,6.67,7.08,6.67,9.33,6.00,6.00,6.42,14 %,8 full defects,0.0,16 full defects,2012,0.0,350.00
1256,nicaragua,instituto hondureño del café,other,7.25,6.58,6.33,6.25,6.42,6.08,6.00,6.00,6.00,6.17,13 %,1 full defects,0.0,5 full defects,2017,0.0,1100.00
1257,guatemala,asociacion nacional del café,washed / wet,7.50,6.67,6.67,7.67,7.33,6.67,8.00,1.33,1.33,6.67,10 %,0 full defects,0.0,4 full defects,2012,0.0,1417.32

In [364]:
test = test.dropna()

In [365]:
test.shape

(1132, 20)

In [366]:
#drop columns that could potentially present overfitting or have too many missing values that we cannot fill in 
df = df.drop(['Variety', 'Owner', 'Region', 'Color', 'alt', 'final_alt', 'Altitude', 'Price'], axis=1)

In [367]:
#drop null values 
df = df.dropna()

In [368]:
df.shape

(1132, 20)

In [371]:
df['Category One Defects'].value_counts()

0 full defects     965
1 full defects      78
2 full defects      33
4 full defects      16
3 full defects      14
5 full defects       9
10 full defects      4
7 full defects       3
6 full defects       3
31 full defects      2
8 full defects       1
9 full defects       1
23 full defects      1
11 full defects      1
15 full defects      1
Name: Category One Defects, dtype: int64

In [372]:
df['Category Two Defects'].value_counts()

0 full defects     293
1 full defects     171
2 full defects     147
3 full defects     117
4 full defects     103
5 full defects      68
6 full defects      42
7 full defects      36
8 full defects      28
9 full defects      21
10 full defects     19
12 full defects     12
20 full defects      8
13 full defects      8
14 full defects      8
11 full defects      8
16 full defects      6
15 full defects      5
17 full defects      5
26 full defects      3
19 full defects      2
23 full defects      2
29 full defects      2
30 full defects      2
18 full defects      2
21 full defects      2
27 full defects      1
24 full defects      1
34 full defects      1
22 full defects      1
28 full defects      1
40 full defects      1
55 full defects      1
45 full defects      1
32 full defects      1
38 full defects      1
31 full defects      1
47 full defects      1
Name: Category Two Defects, dtype: int64

In [378]:
df['Category One Defects'] = df['Category One Defects'].apply(lambda x: int(x.replace(' full defects', '')))

In [375]:
df['Category Two Defects'] = df['Category Two Defects'].apply(lambda x: int(x.replace(' full defects', '')))

In [380]:
df['Moisture'] = df['Moisture'].apply(lambda x: int(x.replace(' %', '')))

In [381]:
df.head()

,Country of Origin,In-Country Partner,Processing Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,Moisture,Category One Defects,Quakers,Category Two Defects,year,target,final_final_alt
0,ethiopia,metad agricultural development plc,washed / wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,12,0,0.0,0,2015,1.0,632.46
1,ethiopia,metad agricultural development plc,washed / wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,12,0,0.0,1,2015,1.0,632.46
3,ethiopia,metad agricultural development plc,natural / dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,11,0,0.0,2,2015,1.0,609.60
4,ethiopia,metad agricultural development plc,washed / wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,12,0,0.0,2,2015,1.0,632.46
7,ethiopia,metad agricultural development plc,natural / dry,8.08,8.58,8.50,8.50,7.67,8.42,10.0,10.0,10.0,8.50,10,0,0.0,4,2015,1.0,1822.00